<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f8f9fa"/>
    <meta name="author" content="KYUCSA">
    <meta name="description" content="Kyambogo University Computing Students Association, a community for university students to learn mobile, web development, and various tech skills.">
    <meta name="keywords" content="kyucsa, developer community, kyambogo university, computer science">
    <title>{{title }} | Spearheading ICT Innovations</title>
    <!--Loading styles, icons and static files-->
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <link rel="icon" href="{% static '/images/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static './css/responsive.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
    <!--link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}"-->
    <link rel="stylesheet" type="text/css" href="{% static './css/pace-theme.css' %}">
    <!-- Favicons -->
    <link href="{% static '/images/logo.png' %}" rel="icon">
    <link href="{% static './assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!--Font Awesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
            rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{% static './vendor/aos/aos.css' %}" rel="stylesheet">
    <!--link href="{% static './vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"-->
    <link href="{% static './vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static './vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static './vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static './vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static './css/custom-tm.css' %}" rel="stylesheet">
    <!-- extra css  -->
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
    <link rel="stylesheet" href="{% static './css/responsive.css' %}">
    <!--DNS Fetch-->
    <link rel="dns-prefetch" href="https://docs.google.com">
    <!--Owl Carousal Styles-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet">
    <!--Bootstrap 3-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>(function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-124904500-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container-fluid bg-light">
    <!--Top Navbar-->
  <nav class="navbar navbar-expand-sm text-black border-bottom sticky-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/images/logo.png' %}" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon text-primary"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'technologies' %}">Technologies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events' %}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'team' %}">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'verify' %}">Verify</a>
      </li>
      <li class="nav-item">
          <a class="btn btn-success font-weight-bold" href="{% url 'signup' %}">SIGN UP</a>
      </li> 
      </ul>
    </div>
  </div>
</nav>
<!--end of navbar-->
    {% block content %}
    {% endblock %}
    <!--Footer-->
    <!--Footer Map-->
    <div class="map rounded">
      <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7447192218733!2d32.6220694348877!3d0.3480198000000032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177dba2ab85b6945%3A0x3410e28a61297de3!2sDepartment%20of%20Computer%20Science%20Lab!5e0!3m2!1sen!2sug!4v1666909258247!5m2!1sen!2sug"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <!--Footer Map End-->
    <nav class="navbar navbar-expand justify-content-center align-items-center pt-4 pb-3">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <small>&copy; <script>document.write(new Date().getFullYear());</script> KYUCSA&reg;  All rights Reserved</small>
          <br>
          <small>Kyambogo University Computing Students Association</small>
        </li>
      </ul>
    </nav>
    <!--Footer End-->
  </div>
  <!--Scripts-->
  <script>
    function imageIntersectionObserverCallback(imageEntries, observer) {
        imageEntries.forEach(imgEntry => {
            if (imgEntry.isIntersecting) {
                imgEntry.target.setAttribute('src', imgEntry.target.dataset.src);
                observer.unobserve(imgEntry.target);
            }
        })
    }
    const imageObserver = new IntersectionObserver(imageIntersectionObserverCallback, { rootMargin: '30px 0px' });
    imageObserver.POLL_INTERVAL = 200;
    imageObserver.USE_MUTATION_OBSERVER = false;
    document.querySelectorAll('img[data-src]').forEach(img => {
        imageObserver.observe(img);
    })
</script>
<script>
    function iframeObserverCallback(iframeEntries, observer) {
        iframeEntries.forEach(iframe => {
            if (iframe.isIntersecting && window.matchMedia('(min-width: 450px)').matches) {
                iframe.target.setAttribute('src', iframe.target.dataset.urllink);
                observer.unobserve(iframe.target);
            }
        })
    }

    const iframeObserver = new IntersectionObserver(iframeObserverCallback, { rootMargin: '30px 0px' });
    iframeObserver.POLL_INTERVAL = 200;
    iframeObserver.USE_MUTATION_OBSERVER = false;
    document.querySelectorAll('iframe[data-urllink]').forEach(img => {
        iframeObserver.observe(img);
    });

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('service-worker.js')
                .then(function () {
                    console.log("Service Worker Registered,");
                });
        });
    }
    //Owl-Carousal Script
    $(document).ready(function(){
      $('.partners-carousel').owlCarousel({
        autoplay: true,
       loop: true,
       margin: 15,
       dots: false,
       slideTransition: 'linear',
       autoplayTimeout: 4500,
       autoplayHoverPause: true,
       autoplaySpeed: 4500,
       responsive: {
         0: {
           items: 2
         },
         500: {
           items: 3
         },
         600: {
           items: 4
         },
         800: {
           items: 4
         },
         1200: {
           items: 4
         }

       }
      });
    });
</script>
<script src="{% static './js/vendors/pace.js' %}"></script>
<script src="{% static './js/vendors/jquery.min.js' %}"></script>
<!--script src="{% static './js/vendors/bootstrap.bundle.min.js' %}"></script-->
<script src="{% static './js/vendors/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static './js/vendors/jquery.easing.min.js' %}"></script>
<script src="{% static './js/vendors/swiper.min.js' %}"></script>
<script src="{% static './js/vendors/owl.carousel.min.js' %}"></script>
<script src="{% static './js/vendors/hammer.js' %}"></script>
<script src="{% static './js/custom.js' %}"></script>
<!-- Vendor JS Files -->
<script src="{% static './vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static './vendor/aos/aos.js' %}"></script>
<!--script src="{% static './vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script-->
<script src="{% static './vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static './vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static './vendor/swiper/swiper-bundle.min.js' %}"></script>


<!-- Template Main JS File -->
<script src="{% static './js/main.js' %}"></script>
<!--Partners Logo Carousal Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!--end of scripts-->
</body>
</html>    