<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#f8f9fa"/>
    <meta name="author" content="KYUCSA">
    <meta name="description" content="Kyambogo University Computing Students Association, a community for university students to learn mobile, web development, and various tech skills.">
    <meta name="keywords" content="kyucsa, developer community, kyambogo university, computer science">
    <title>{{title }} | Spearheading ICT Innovations</title>
    <!--Loading styles, icons and static files-->
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <link rel="icon" href="{% static '/images/icon.png' %}" type="image/png">
    <!-- Favicons -->
    <link href="{% static '/images/logo.png' %}" rel="icon">
    <link href="{% static './assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!--Font Awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Vendor CSS Files -->
    <link href="{% static './vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static './vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static './vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static './vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static './vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static './css/custom-tm.css' %}" rel="stylesheet">
    <!-- extra css  -->
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
    <style>
      .step {
          display: none;
      }
      .step.active {
          display: block;
      }
    </style>
</head>
<body>
  <div class="container-fluid bg-light">
    <!--Top Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/images/logo.png' %}" height="50" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'technologies' %}">Technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'team' %}">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'verify' %}">Verify</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success font-weight-bold" href="{% url 'signup' %}">SIGN UP</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>
    <!--end of navbar-->
    
    {% block content %}
    {% endblock %}
    
    <!--Footer-->
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-4">
          <h3>Column 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
        </div>
        <div class="col-md-4">
          <h3>Column 2</h3>
          <p>Email: info@example.com<br>Follow us on social media:<br>
            <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a>
          </p>
        </div>
        <div class="col-md-4">
          <h3>Column 3</h3>
          <p>123 Main Street<br>City, State, ZIP<br>Phone: (123) 456-7890</p>
        </div>
      </div>
    </div>
    <!--Footer End-->
    
    <nav class="navbar navbar-expand justify-content-center align-items-center p-1 bg-light fixed-bottom">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <small>&copy; <script>document.write(new Date().getFullYear());</script> KYUCSA&reg; All rights Reserved</small>
          <br><span><small>Kyambogo University Computing Students Association</small></span>
        </li>
      </ul>
    </nav>
    <!--Footer End-->
  </div>
  <!--Scripts-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function imageIntersectionObserverCallback(imageEntries, observer) {
        imageEntries.forEach(imgEntry => {
            if (imgEntry.isIntersecting) {
                imgEntry.target.setAttribute('src', imgEntry.target.dataset.src);
                observer.unobserve(imgEntry.target);
            }
        })
    }
    const imageObserver = new IntersectionObserver(imageIntersectionObserverCallback, { rootMargin: '20px 0px' });
    imageObserver.POLL_INTERVAL = 200;
    imageObserver.USE_MUTATION_OBSERVER = false;
    document.querySelectorAll('img[data-src]').forEach(img => {
        imageObserver.observe(img);
    })
  </script>
  <script>
    // Owl-Carousel Script
    $(document).ready(function(){
      $('.partners-carousel').owlCarousel({
        autoplay: true,
        loop: true,
        margin: 15,
        dots: false,
        slideTransition: 'linear',
        autoplayTimeout: 4500,
        autoplayHoverPause: true,
        autoplaySpeed: 4500,
        responsive: {
          0: {
            items: 2
          },
          500: {
            items: 3
          },
          600: {
            items: 4
          },
          800: {
            items: 4
          },
          1200: {
            items: 4
          }
        }
      });
    });
  </script>
  <script src="{% static './js/vendors/pace.js' %}"></script>
  <script src="{% static './js/vendors/jquery.min.js' %}"></script>
  <script src="{% static './js/vendors/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static './js/vendors/jquery.easing.min.js' %}"></script>
  <script src="{% static './js/vendors/swiper.min.js' %}"></script>
  <script src="{% static './js/vendors/owl.carousel.min.js' %}"></script>
  <script src="{% static './js/vendors/hammer.js' %}"></script>
  <script src="{% static './js/custom.js' %}"></script>
  <!-- Vendor JS Files -->
  <script src="{% static './vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static './vendor/aos/aos.js' %}"></script>
  <script src="{% static './vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static './vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static './vendor/swiper/swiper-bundle.min.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static './js/main.js' %}"></script>
  <!-- Partners Logo Carousal Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!--end of scripts-->
</body>
</html>