<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KYUCSA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="./images/logo.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="./vendor/aos/aos.css" rel="stylesheet">
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="./vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./vendor/swiper/swiper-bundle.min.css" rel="stylesheet">




    <!-- extra css  -->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link href="./css/custom-tm.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex justify-content-between align-items-center">

            <div id="logo">
                <a href="./index.html"><img src="./images/logo.png" alt="" style="width: 60px; height: 40px;"></a>


            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="./index.html">Home</a></li>

                    <li><a class="nav-link scrollto" href="./technologies.html">Technologies</a></li>
                    <li><a class="nav-link scrollto" href="./events.html">Events</a></li>
                    <li><a class="nav-link scrollto" href="./learn.html">Learn</a></li>
                    <li><a class="nav-link scrollto" href="./team.html">Team</a></li>

                </ul>
                </li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->


    <main id="main">
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h3 class="section-title">EVENTS</h3>
                    <p class="section-description">Find out what happened in our previous events.</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="50">
                    <div class="d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter=".filter-new">Upcoming Events</li>
                            <li data-filter="*" class="filter-all">All</li>
                            <li data-filter=".filter-past">Past Events</li>

                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">


                    <!-- UPCOMING EVENTS  -->
                    <div class="col-lg-4 col-md-6 portfolio-item filter-new" id="next">
                        <a href="./images/assets/events/againstallodds.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link"
                            title="KYUCSA WORKSHOPS">

                            <img src="./images/assets/events/againstallodds.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Against All Odds</h4>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Tech Talk</p>
                                    </div>
                                    <div class="col-6 ">
                                        <p class="text-dark fw-bold">12th Nov, 2022</p>
                                    </div>
                                </div>

                                <i class="bx bx-plus"></i>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-new">
                        <a href="./images/assets/events/embracingCloud.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="CLOUD COMPUTING">
                            <img src="./images/assets/events/embracingCloud.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Embracing Cloud Technologies</h4>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Cloud Computing</p>
                                    </div>
                                    <div class="col-6 ">
                                        <p class="text-dark fw-bold">26th Nov, 2022</p>
                                    </div>
                                </div>
                                <i class="bx bx-plus"></i>

                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-new">
                        <a href="./images/assets/events/exploreGis.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
                            title="KYUCSA WORKSHOPS">
                            <img src="./images/assets/events/exploreGis.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Explore GIS</h4>
                                <div class="row">
                                    <div class="col-6">
                                        <p>GIS</p>
                                    </div>
                                    <div class="col-6 ">
                                        <p class="text-dark fw-bold">18th Nov, 2022</p>
                                    </div>
                                </div>

                            </div>
                        </a>

                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-new">
                        <a href="./images/assets/events/devfest2022.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
                            title="KYUCSA WORKSHOPS">
                            <img src="./images/assets/events/devfest2022.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Google 2022 Devfest</h4>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Dev Meetup</p>
                                    </div>
                                    <div class="col-6 ">
                                        <p class="text-dark fw-bold">3rd Dec, 2022</p>
                                    </div>
                                </div>

                            </div>
                        </a>

                    </div>

                    <!-- UPCOMING EVENTS  -->


                    <!-- PAST EVENTS -->
                    <div class="col-lg-4 col-md-6 portfolio-item filter-past">
                        <a href="./images/assets/events/productdesign.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
                            title="PRODUCT DESIGN">
                            <img src="./images/assets/events/productdesign.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Product Design</h4>
                                <p>UI / UX </p>
                                <i class="bx bx-plus"></i>

                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-past">
                        <a href="./images/assets/events/pythontalk.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
                            title="KYUCSA WORKSHOPS">
                            <img src="./images/assets/events/pythontalk.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Building Your Career</h4>
                                <p>Tech Talk</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-past">
                        <a href="./images/assets/events/techcareers0.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="KYUCSA WORKSHOPS">
                            <img src="./images/assets/events/techcareers0.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Programming Fundamentals</h4>
                                <p>PYTHON</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-past">
                        <a href="./images/assets/events/fruitpunch.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="KYUCSA WORKSHOPS">
                            <img src="./images/assets/events/fruitpunch.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>AI for Good</h4>
                                <p>Application of AI</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-past">
                        <a href="./images/assets/events/techcareers0.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="KYUCSA WORKSHOPS">
                            <img src="./images/assets/events/webdev.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Web Development</h4>
                                <p>HTML, CSS & JS</p>
                            </div>
                        </a>
                    </div>
                    <!-- PAST EVENTS  -->

                </div>

            </div>


        </section>

        <div class="map">
            <iframe style="border:0; width: 100%; height: 350px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7447192218733!2d32.6220694348877!3d0.3480198000000032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177dba2ab85b6945%3A0x3410e28a61297de3!2sDepartment%20of%20Computer%20Science%20Lab!5e0!3m2!1sen!2sug!4v1666909258247!5m2!1sen!2sug"
                frameborder="0" allowfullscreen></iframe>
        </div>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <img src="./images/logo.png" class="logo-sm mb-10" alt="KYUCSA logo">
                <p>&copy; 2022 | All Rights Reserved.</p>
            </div>
            <div class="credits">

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <!-- Vendor JS Files -->
    <script src="./vendor/purecounter/purecounter.js"></script>
    <script src="./vendor/aos/aos.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./vendor/php-email-form/validate.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>