{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container pb-4">
    <div class="section-header pt-5 text-center" data-aos="fade-up" data-aos-delay="70">
        <h3 class="fw-bold text-primary">WORKSHOPS AND EVENTS</h3>
        <p class="section-description">Find out what happened in our previous events.</p>
    </div>
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center text-align-center" data-aos="fade-up" data-aos-delay="50">
                    <div class="d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li date-fileter="*" class="filter-all">All</li>
                            <li data-filter=".live">Live <div class="spinner-grow spinner-grow-sm text-danger"></div></li>
                            <li data-filter=".upcoming"><div class="spinner-border spinner-border-sm text-light"></div> Upcoming Events</li>
                            <li data-filter=".past"><div class="spinner-border spinner-border-sm text-success"></div> Past Events</li>

                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                    <!--EVENTS  -->
                    <!--Events Card-->
                    {% for event in events %}
                    <div class="col-lg-4 col-md-6 portfolio-item {{ event.estatus }}" id="next">
                    <div class="card">
                        <img class="card-img-top" src="{{ event.ebanner.url}}" alt="{{ event.etitle }}" style="width:100%">
                        <span class="card-img-overlay card-text text-left p-1">
                            {% if event.estatus == "live" %}
                            <div class="spinner-grow spinner-grow-sm text-danger"></div>
                            {% endif%}
                            {% if event.estatus == "upcoming" %}
                            <div class="spinner-grow spinner-grow-sm text-light"></div>
                            {% endif%}
                            {% if event.estatus == "past" %}
                            <div class="spinner-grow spinner-grow-sm text-success"></div>
                            {% endif%}
                        </span>
                        <div class="card-body bg-light portfolio-info" style="margin-top: 8rem;">
                          <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold text-primary">{{ event.etitle }}</h4>
                            </div>
                           <div class="col-6 ">
                           <p class="text-warning fw-bold">{{ event.edate }}</p>
                           </div>
                         </div>
                         <div class="row">
                            <div class="col-6">
                             <p class="text-info">{{ event.etopic }}</p>
                            </div>
                           <div class="col-6 ">
                            <a type="button" href="{{ event.eslide.url }}" class="btn btn-primary btn-sm fw-bold text-light">Download Slide</a>
                           </div>
                         </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <!--End Event Card-->
                </div>
            </div>
        </section>

</div>
{%endblock%}