{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container pb-4">
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h3 class="text-center fw-bold">WORKSHOPS AND EVENTS</h3>
                    <p class="section-description">Find out what happened in our previous events.</p>
                </div>

                <div class="row justify-content-center text-align-center" data-aos="fade-up" data-aos-delay="50">
                    <div class="d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li date-fileter="*" class="filter-all">All</li>
                            <li data-filter=".live">Live</li>
                            <li data-filter=".upcoming">Upcoming Events</li>
                            <li data-filter=".past">Past Events</li>

                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                    <!--EVENTS  -->
                    <!--Model Data-->
                    {% for event in events %}
                    <div class="col-lg-4 col-md-6 portfolio-item {{ event.estatus }}" id="next">
                    <div class="card">
                        <img class="card-img-top" src="{{ event.ebanner.url}}" alt="{{ event.etitle }}" style="width:100%">
                        <div class="card-body card-img-overlay bg-primary portfolio-info" style="margin-top: 8rem;">
                          <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold">{{ event.etitle }}</h4>
                            </div>
                           <div class="col-6 ">
                           <p class="text-dark fw-bold">{{ event.edate }}</p>
                           </div>
                         </div>
                         <div class="row">
                            <div class="col-6">
                             <p>{{ event.etopic }}</p>
                            </div>
                           <div class="col-6 ">
                            <a href="{{ event.eslide.url }}" class="text-light">Get Slide</a>
                           </div>
                         </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <!--Model Data End-->
                </div>
            </div>
        </section>

</div>
{%endblock%}