{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="register d-flex align-items-center justify-content-center pt-5 pb-5">
	<div class="card rounded" style="width:450px">
		<div class="card-body">
			<h6 class="text-center text-primary pt-1">Student Registration</h6>
		<div class="flex p-1">
			<img class="card-img-top mx-auto d-block " src="{% static '/images/logo.png' %}" style="width:120px;">
		</div>
		<div class="progress mt-2 ml-3 mr-3">
			<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
		</div>
		<div class="p-2 text-align-center justify-content-center">
			<form id="registrationForm" method="POST" action = "{%url 'signup'%}">
				<!-- Step 1 -->
				<div class="step active" data-step="1">
					<div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa-regular fa-user fa-xl"></i>&nbsp;</span>
					   </div>
					   <input type="text" id="fName" class="form-control rounded" name="firstName" placeholder="First Name" required>
					 </div>
					 <div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa-regular fa-user fa-xl"></i>&nbsp;</span>
					   </div>
					   <input type="text" id="lName" class="form-control rounded" name="lastName" placeholder="Last Name" required>
					 </div>
					 <div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text">Programme</span>
					   </div>
					   <select class="form-control rounded" id="sel1" name="programme">
						<option>Choose...</option>
						<option>BITC</option>
						<option>BIS</option>
						<option>BLIS</option>
					  </select>
					 </div>
					 <div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text">Gender</span>
					   </div>
					   <select class="form-control rounded" id="sel2" name="gender">
						<option>Choose...</option>
						<option>MALE</option>
						<option>FEMALE</option>
					  </select>
					 </div>
					<button class="btn btn-primary next-step">Next</button>
				</div>

				<!-- Step 2 -->
				<div class="step" data-step="2">
					<div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text">Academic Status</span>
					   </div>
					   <select class="form-control rounded" id="sel3" name="status">
						<option>Choose...</option>
						<option>Continuing</option>
						<option>Graduated</option>
					  </select>
					 </div>
					 <div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text">Student Number</span>
					   </div>
					   <input type="text" id="stdno" class="form-control rounded" name="std_no" placeholder="Student Number eg. 2303938484" required>
					 </div>
					 <div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text">Enrollment Year</span>
					   </div>
					   <select class="form-control rounded" id="sel4" name="enrollment">
						<option>Choose...</option>
						<option>2023</option>
						<option>2022</option>
						<option>2021</option>
					  </select>
					 </div>
					 <div class="input-group mb-3 input-group-sm">
						<div class="input-group-prepend">
						  <span class="input-group-text">Email</span>
					   </div>
					   <input type="email" id="email" class="form-control rounded" name="email" placeholder="220000838@kyu.ac.ug" autocomplete="on" required>
					 </div>
					<button class="btn btn-secondary prev-step mr-2">Previous</button>
					<button class="btn btn-primary next-step">Next</button>
				</div>

				<!-- Step 3 -->
				<div class="step" data-step="3">
					<div class="form-check-inline mb-3 mt-3">
						<label class="form-check-label">
						  <input type="checkbox" class="form-check-input rounded" name="optcheckbox" value=""><span class="text-muted">By clicking on register, you agree to our Terms of Service and policy & terms</span>
						</label>
					  </div>
					<div class="text-center text-center p-2">
						<button type="submit" class="text-center btn btn-primary">Register</button>
					</div>
					<span class="text-muted m-3">Already Registered? <a href="{% url 'verify' %}">Verify ID</a></span>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>

{%endblock%}