{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container pb-4">
        <!-- ======= Team Section ======= -->
        <section id="team">
            <div data-aos="fade-up">
                <div class="section-header">
                    <h3 class="section-title">KYUCSA EXECUTIVES</h3>
                    <p class="section-description">Get to know our team that works very hard to ensure smooth running of
                        the associations activities.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-light member" data-aos="fade-up" data-aos-delay="200">
                            <img src="{% static '/images/assets/team/jonathan.jpg' %}" alt="jonathan">
                            <div class="card-body">
                            <h4 class="card-title text-center">SIMENYA JONAHTAN</h4>
                            <span>President</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href="https://www.linkedin.com/in/simenya-jonathan-enoch-449948210/"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-light member" data-aos="fade-up" data-aos-delay="200">
                            <img src="{% static '/images/assets/team/avatar.png' %}" alt="avatar">
                            <div class="card-body">
                            <h4 class="card-title text-center">SIMENYA JONAHTAN</h4>
                            <span>President</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i
                                        class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-light member" data-aos="fade-up" data-aos-delay="300">
                            <img src="{% static '/images/assets/team/syda_2.jpg' %}" alt="">
                            <div class="card-body">
                            <h4 class="card-title text-center">NAMUGARURA SYDA</h4>
                            <span>Vice President</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-light member" data-aos="fade-up" data-aos-delay="400">
                            <img src="{% static '/images/assets/team/okuro.jpg' %}" alt="">
                            <div class="card-body">
                            <h4 class="card-title text-center">OKURO WILLIAM</h4>
                            <span>Program Manager</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>JOB JEROME OLUKA</h4>
                            <span>Speaker</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>AHIKIRIZA HENRY</h4>
                            <span>Deputy Speaker</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>ALION ALFRED</h4>
                            <span>Legal Advisor</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/olive.jpg' %}" alt=""></div>
                            <h4>NAKYEYUNE OLIVER</h4>
                            <span>General Secretary</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>MUHUMUZA TADEO</h4>
                            <span>Organizing Secretary</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>KYEYUNE HABIB</h4>
                            <span>Publicity Secretary</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>NABYONGA CHRISTINE</h4>
                            <span>Treasurer</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/emma.jpg' %}" alt=""></div>
                            <h4>EKAKA EMMANUEL</h4>
                            <span>Android Lead</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>KALULE DENIS JOTHAM</h4>
                            <span>Web Lead</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>KAFEERO JOHN</h4>
                            <span>Product Design Lead</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>KAKULE GIDEON</h4>
                            <span>Networking Lead</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/abel.jpg' %}" alt=""></div>
                            <h4>SSENTAMU ABEL</h4>
                            <span>Class Representative</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>OJEERA ISAAC</h4>
                            <span>Class Representative</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>SSENONO HENRY</h4>
                            <span>Class Representative</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static '/images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>WANZALA TIMOTHY</h4>
                            <span>Class Representative</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="{% static './images/assets/team/avatar.png' %}" alt=""></div>
                            <h4>OCAN BRIAN </h4>
                            <span>Class Representative</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->
</div>
{%endblock%}