{% extends "base2.html" %}
{% load static %}
{% block content %}
<div class="container pb-4">
        <!-- ======= Team Section ======= -->
        <section id="team">
            <div data-aos="fade-up">
                <div class="section-header">
                    <h3 class="section-title">KYUCSA EXECUTIVES</h3>
                    <p class="section-description">Get to know our team that works very hard to ensure smooth running of
                        the associations activities.</p>
                </div>

                    {% for team in teams %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card bg-light member" data-aos="fade-up" data-aos-delay="200" style="height: 20%;">
                            <img src="{{ team.tphoto.url }}" alt="{{ team.tname }}">
                            <div class="card-body">
                            <h4 class="card-title text-center">{{ team.tname }}</h4>
                            <span>{{ team.tpost }}</span>
                            <div class="social">
                                <a href="https://twitter.com/{{ team.ttwitter }}/" target="_blank"><i class="bi bi-twitter"></i></a>
                                <a href="https://github.com/{{ team.tgithub }}/" target="_blank"><i class="bi bi-github"></i></a>
                                <a href="https://www.linkedin.com/in/{{ team.tlinkedin}}/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}

            </div>
        </section><!-- End Team Section -->
</div>
{%endblock%}