{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="register d-flex align-items-center justify-content-center pt-5 pb-5">
	<div class="card rounded" style="width:550px">
		<div class="card-body">
			<h6 class="text-center text-primary pt-1">Student Registration</h6>
		<div class="flex p-1">
			<img class="card-img-top mx-auto d-block " src="{% static '/images/logo.png' %}" style="width:120px;">
		</div>
		<div class="p-2 text-align-center justify-content-center">
			<form id="registrationForm" method="POST" action = "{%url 'signup'%}">
				{% csrf_token %}
				{% if form %}
				<div class="row">
					{%for field in form%}
					<div class="col-md-6 p-1">{{field|as_crispy_field}}</div>
					{% if field.errors %}
						{% for error in field.errors %}
						<div class="invalid-feedback">{{ error }}</div>
						{% endfor %}
					{% endif %}
					{%endfor%}
				</div>

				<div class="text-center text-center p-2">
					<button type="submit" class="text-center btn btn-primary">Register</button>
				</div>
					<span class="text-muted m-3">Already Registered? <a href="{% url 'verify' %}">Verify ID</a></span>
				</div>
				<div class="container-fluid p-1">
						<span class="text-muted">By clicking register, you agree to our <a href="#">Terms of Service</a> 
							and <a href="#">policy & terms</a></span>
					</label>
				</div>
				{% endif %}
			</form>
			</div>
		</div>
	</div>
</div>

{%endblock%}